$gba-font: 'Press Start 2P', cursive;
$robotic-font: 'Play', sans-serif;
$red: #FF6369;
$acc-red: #DA4348;
$blue: #3F729B;
$acc-blue: #82B1FF;
$white: #FCFCFF;
$black: #212121;

@keyframes rotate {
  0%{transform: rotate(360deg)}
  10%{transform: rotate(0deg)}
  50%{transform: rotate(360deg)}
  90%{transform: rotate(0deg)}
  100%{transform: rotate(360deg)}
}

body {
  margin: 0;
  font-family: $robotic-font;
  background-color: $white;
  color: $black;
}
.container {
  width: 95%;
  max-width: 550px;
  margin: auto;
}
div#nav {
  width: 95%;
  max-width: 1024px;
  margin: 10px auto;
  padding: 25px 5px;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  font-family: $gba-font;
  height: 45px;
  background-color: $red;
  border: 7px solid $acc-red;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #2121217a;


  img {
    width: 50px;
    height: 50px;
  }
  div:nth-child(2) {
    padding: 15px 0;
    text-align: center;
    color: $white;
    text-shadow:
    -1px -1px 0 $blue,
    1px -1px 0 $blue,
    -1px 1px 0 $acc-blue,
    1px 1px 0 $acc-blue; 
  }

  div:nth-last-child(1) {
    font-size: 70%;
    padding: 16px 5px 16px 0;
    letter-spacing: 1px;
    text-align: center;
    color: $white;
    text-shadow:
    -1px -1px 0 $acc-blue,
    1px -1px 0 $acc-blue,
    -1px 1px 0 $blue,
    1px 1px 0 $blue; 
  }
}
main {
  width: 95%;
  max-width: 1024px;
  margin: auto;
  background-color: $acc-blue;
  border: 7px solid $blue;
  border-radius: 25px;
  padding: 25px 5px;
  box-shadow: 1px 1px 10px #2121217a;


  div#pokédex {
    background-color: red;
    width: 450px;
    border-radius: 15px;
    border: 2px solid $black;
    box-shadow: 1px 1px 10px #2121217a;

    div.pokédex-top {
      display: grid;
      grid-template-columns: 5fr 10fr;
      background-color: #00000025;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px 0;
      border-bottom: 2px solid $black;

      div.top-left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        div.lg-circle {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, $white, #7DD1F0, rgb(93, 158, 212), #3F729B);
          border: 3px solid $white;
          margin: 5px 10px;
          animation: rotate 7s linear infinite;
          box-shadow: 1px 1px 5px #2121217a;
        }
        div.sm-circle-1 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(180deg, $white, #FF4444, #CC0000);
          border: 1.5px solid $white;
          margin: 5px 0;
          box-shadow: 1px 1px 5px #2121217a;
        }
        div.sm-circle-2 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(180deg, $white, #FFBB33, #FF8800);
          border: 1.5px solid $white;
          margin: 5px 5px;
          box-shadow: 1px 1px 5px #2121217a;
        }
        div.sm-circle-3 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(180deg, $white, #00C851, #007E33);
          border: 1.5px solid $white;
          margin: 5px 0;
          box-shadow: 1px 1px 5px #2121217a;
        }
      }
      div.search-bar {
        align-self: end;
        text-align: center;

        input {
          font-family: $robotic-font;
          width: 175px;
          height: 25px;
          font-size: 80%;
          border-radius: 20px;
          border: 2px solid $acc-blue;
          padding: 1px 10px;
          box-shadow: 1px 1px 5px #2121217a;
        }

        button {
          font-family: $robotic-font;
          background-color: $blue;
          color: $white;
          border: 2px solid $acc-blue;
          height: 29px;
          font-size: 100%;
          border-radius: 20px;
          transition: background-color .3s;
          box-shadow: 1px 1px 5px #2121217a;

          &:hover {
            background-color: $acc-blue;
            cursor: pointer;
          }
        }
      }
    }

    div.pokédex-screen {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 7fr; 

      height: 225px;
      background-color: $white;
      border: 5px solid $black;
      border-radius: 10px;
      margin: 15px; 
      box-shadow: 2px 2px 15px #2121217a;

      div.screen-title {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        border-bottom: 2px solid $black;
        background-color: #2929293a;

        div:nth-child(1) {
          padding: 5px;
        }
        div:nth-child(2) {
          padding: 5px;
          text-align: center;
          font-weight: bold;
        }
      }

      div.screen-showcase {
        text-align: center;
        background-image: url(../images/pokedex-background3.gif);
        background-size: contain;

        img {
          border-radius: 100%;
          width: 175px;
          height: 175px;
          margin: 15px 0 0;
        }
      }
    } 

    div.pokédex-stats {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin: 15px;
      
      div.pkmn-hp {
        grid-column: 1/2;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-hp {
          padding: 5px;

          span {
            color: #00C851;
          }
        }
      }
      div.pkmn-atk {
        grid-column: 2/3;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-atk {
          padding: 5px;

          span {
            color: #CC0000;
          }
        }
      }
      div.pkmn-def {
        grid-column: 3/4;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-def {
          padding: 5px;

          span {
            color: #82B1FF;
          }
        }
      }
      div.pkmn-spd {
        grid-column: 4/5;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-spd {
          padding: 5px;

          span {
            color: #FFBB33;
          }
        }
      }
      div.pkmn-height {
        grid-column: 1/3;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-height {
          padding: 5px;
        }
      }
      div.pkmn-weight {
        grid-column: 3/5;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-weight {
          padding: 5px;
        }
      }
      div.pkmn-type {
        grid-column: 1/5;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div#pkmn-type {
          padding: 5px;
        }
      }
      div.pkmn-stats {
        grid-column: 1/6;
        background-color: $white;
        border: 1px solid $black;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #2121217a;

        div.stats-title {
          padding: 5px;
          border-bottom: 1px solid $black;
          box-shadow: 1px 1px 5px #2121217a;
        }

        div.stats-data {
          padding: 5px;
        }
      }
    }
  }
}

@media only screen and (max-width: 477px) {
  div#nav {

    div:nth-child(2) {
      padding: 20px 0;
      font-size: 80%;
    }
  }
  main {
    div#pokédex {
      width: 400px;
    } 
  }
  
}

@media only screen and (max-width: 431px) {
  div#nav {
    width: 97%;
    padding: 25px 0;

    div:nth-child(2) {
      padding: 5px 0;
      line-height: 25px;
      font-size: 100%;
    }
  }
  main {
    width: 97%;
    background-color: $acc-blue;
    border: 7px solid $blue;
    border-radius: 25px;
    padding: 15px 0;

    div#pokédex {
      width: 350px;

      div.pokédex-top {
        display: grid;
        grid-template-columns: 5fr 10fr;
        background-color: #00000025;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px 0;
        border-bottom: 2px solid $black;

        div.search-bar {
          align-self: end;
          text-align: center;

          input {
            width: 125px;
            font-size: 60%;
            border-radius: 15px;
            padding: 1px 5px;
          }

          button {
            height: 30px;
            font-size: 60%;
            border-radius: 15px;
          }
        }
      }
    } 
  }
  
}