$gba-font: 'Press Start 2P', cursive;
$robotic-font: 'Play', sans-serif;
$red: #FF6369;
$acc-red: #DA4348;
$blue: #3F729B;
$acc-blue: #82B1FF;
$white: #FCFCFF;
$black: #212121;

body {
  margin: 0;
  font-family: $robotic-font;
  background-color: $white;
  color: $black;
}
.container {
  width: 95%;
  max-width: 550px;
  margin: auto;
}
main {
  width: 95%;
  max-width: 1024px;
  margin: auto;
  background-color: $acc-blue;
  border: 7px solid $blue;
  border-radius: 25px;
  padding: 25px 5px;

  div#pokédex {
    background-color: red;
    width: 400px;
    height: 600px;
    border-radius: 15px;
    border: 2px solid $black;

    div.pokédex-top {
      display: grid;
      grid-template-columns: 5fr 10fr;
      background-color: #00000025;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px 0;
      border-bottom: 2px solid $black;

      div.top-left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
        div.lg-circle {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #7DD1F0, #3F729B);
          border: 3px solid $white;
          margin: 5px 10px;
        }
        div.sm-circle-1 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #FF4444, #CC0000);
          border: 1.5px solid $white;
          margin: 5px 0;
        }
        div.sm-circle-2 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #FFBB33, #FF8800);
          border: 1.5px solid $white;
          margin: 5px 5px;
        }
        div.sm-circle-3 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #00C851, #007E33);
          border: 1.5px solid $white;
          margin: 5px 0;
        }


      }
    }

    div.pokédex-screen {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 7fr; 

      height: 225px;
      background-color: $white;
      border: 5px solid $black;
      border-radius: 10px;
      margin: 15px; 

      div.screen-title {
        border-bottom: 2px solid $black;
      }
    } 
  }
}
div#nav {
  width: 95%;
  max-width: 1024px;
  margin: 10px auto;
  padding: 25px 5px;

  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  font-family: $gba-font;
  height: 45px;
  background-color: $red;
  border: 7px solid $acc-red;
  border-radius: 25px;


  img {
    width: 50px;
    height: 50px;
  }
  div:nth-child(2) {
    padding: 15px 0;
    text-align: center;
  }

  div:nth-last-child(1) {
    font-size: 70%;
    padding: 16px 5px 16px 0;
    letter-spacing: 1px;
    text-align: center;
  }
}