@import "variables";

@font-face {
    font-family: "Pokemon GB";
    src: url("fonts/pokemon-gb.ttf");
}

@keyframes catchPokemon{
    from{background: rgb(230, 0, 0)}
    to {background: rgb(255, 255, 255)}
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}


body {
    background-color: $lblue;
}

#arcaninePic {
    padding-top: 45px;
    height: 450px;
    padding-left: 20px;
    width: 395px;
}
#arcanineGif {
    float: right;
    height: 100px;
    width: 170px;
    padding-right: 50px;
    padding-left: 20px;
}

#venusaurPic {
    padding-top: 45px;
    height: 450px;
    padding-left: 20px;
    width: 395px;
}
#venusaurGif {
    float: right; 
    height: 100px;
    width: 200px;
    padding-left: 5px;
}

#starmiePic {
    padding-top: 45px;
    height: 450px;
    padding-left: 30px;
    width: 395px;
}
#starmieGif {
    float: right; 
    height: 100px;
    width: 200px;
    padding-left: 0px;
}

.pokeContent {
    padding: 0px 0 150px 0;    
}
span {
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 0px;
    width: 87px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-radius: 50px;
}
#pokeInfo1 {
    text-transform: capitalize;
    padding-left: 70px;
}
.fire {
    border: 2px solid rgb(112, 20, 20);
    background: linear-gradient(red, yellow);
    color: rgb(124, 79, 33)
}
#pokeInfo2 {
    text-transform: capitalize;
}
.grass {
    border: 2px solid rgb(12, 68, 15);
    background: linear-gradient(rgb(56, 32, 32), rgb(20, 128, 5));
    color: rgb(36, 212, 45);
    border-right-width: 2px;
    padding-right: 10px;
    margin-right: 5px;
    padding-left: 10px;

}
.poison {
    border: 2px solid rgb(48, 9, 59);
    background: linear-gradient(rgb(195, 0, 255), rgb(121, 50, 94));
    color: rgb(233, 59, 181);
    padding-right: 10px;

}
#pokeInfo3 {
    padding-left: 100px;
    text-transform: capitalize;
}
.water {
    border: 2px solid rgb(20, 12, 68);
    background: linear-gradient(rgb(5, 117, 221), rgb(9, 12, 207));
    color: rgb(15, 204, 218);
    border-right-width: 2px;
    padding-right: 10px;
    margin-right: 5px;
    padding-left: 10px;

}
.psychic {
    border: 2px solid rgb(48, 9, 59);
    background: linear-gradient(rgb(255, 0, 212), rgb(227, 252, 4));
    color: rgb(83, 8, 27);
    padding-right: 10px;

}

.trainer-pic {
    margin-top: 410px;
    padding-left: 90px;
    z-index: 2;
    position: absolute;
}

.von-pic {
    z-index: 1;
    padding-left: 90px;
    margin-top: 310px;
    height: 800px;
    opacity: 0.5;
    filter: grayscale(100%);
    width: 370px;
    position: absolute;
}

#prof-oak1 {
    width: 460px;
    height: 485px;
    padding: 10px 40px 0 110px;
}
#prof-oak2 {
    padding-left: 60px;
    padding-right: 0px;
    width: 335px;
    height: 465px;
    padding-top: 40px;
}
#prof-oak3 {
    width: 335px;
    height: 465px;
    padding-top: 40px;
    padding-left: 60px;
}

.backstory {
width: 750px;
padding-top: 380px;
padding-left: 150px;
}

#abilities1 {
    margin-bottom: 0px;
    margin-top: 35px;
}
#abilities2 {
    margin-bottom: 0px;
    margin-top: 35px;
}
#abilities3 {
    margin-bottom: 0px;
    margin-top: 35px;
}
.abilities {
    margin-top: 5px;
}

header, footer {
    margin: 15px 0;
    background-color: $blue;
    height: 110px;
    border-radius: 100px;
    font-family: "Press Start 2P", cursive;
    border: 1px solid #000;
}

li {
    list-style: url('../images/pokeball-bullet.jpg');

}

.pc {
    padding-top: 10px;
    height: 100px;
    width: 100px;
}

.ps {
    padding-top: 10px;
    padding-left: 60px;
    height: 110px;
    width: 160px;
}

#top {
    padding-top: 25px;
}

footer {
    font-size: 10px;
}

.my-info {
    margin-top: 30px;
}

.banner {
    padding-left: 440px;
    padding-top: 10px;
}

main {
    background-color: $red;
    border-radius: 100px;
    height: 1550px;
    font-family: "Pokemon GB", sans-serif;
    line-height: 1.9;
    letter-spacing: -2px;
    word-spacing: 6px;
    border: 1.5px solid #000;
}

#arcContent {
    background-color: $red;
    border-radius: 100px;
    height: 500px;
    font-family: "Pokemon GB", sans-serif;
    line-height: 1.9;
    letter-spacing: -2px;
    word-spacing: 6px;
    border: 1.5px solid #000;
}
#venuContent {
    background-color: $red;
    border-radius: 100px;
    height: 500px;
    font-family: "Pokemon GB", sans-serif;
    line-height: 1.9;
    letter-spacing: -2px;
    word-spacing: 6px;
    border: 1.5px solid #000;
}
#starContent {
    background-color: $red;
    border-radius: 100px;
    height: 500px;
    font-family: "Pokemon GB", sans-serif;
    line-height: 1.9;
    letter-spacing: -2px;
    word-spacing: 6px;
    border: 1.5px solid #000;
}



.mainCircle {
    width: 350px;
    height: 350px;
    position: relative;
    padding: 20px;
    display: inline-block;
}

.halfCircleTop, .halfCircleBottom, .shadow {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.halfCircleTop {
    background-color: rgb(230, 0, 0);
    border-top-right-radius: 50% 100%;
    border-top-left-radius: 50% 100%;
    border: 20px solid #000;
    border-bottom: 10px solid;
}

.halfCircleBottom {
    background-color: whitesmoke;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-bottom-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    border: 20px solid #000;
    border-top: 20px solid;
}

.innerCircle {
    border: 14px solid #000;
    width: 30%;
    height: 30%;
    background: whitesmoke;
    position: absolute;
    top: 37%;
    left: 36%;
    border-radius: 60%;
}

.inner-black-circle {
    border: 5px solid #000;
    width: 65%;
    height: 65%;
    background: whitesmoke;
    position: absolute;
    top: 18%;
    left: 17%;
    animation: catchPokemon 1.2s infinite;
    animation-direction: alternate;
    border-radius: 100%;
}

.shadow {
    width: 275px;
    height: 280px;
    position: absolute;
    top: 4px;
    border-radius: 60%;
    box-shadow: 66px 40px 0px rgba(0,0,0,0.2);
    right: 90px;
}

.mainCircle:hover {
    cursor: pointer;
    animation: wiggle 2s;
}

audio {
    display: none!important;
}

.center {
    float: left;
    width: auto;
    height: 280px;
    margin: 9.15px;
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    display: inline-block;
}