@charset "UTF-8";
body {
  margin: 0;
  font-family: "Play", sans-serif;
  background-color: #FCFCFF;
  color: #212121; }

.container {
  width: 95%;
  max-width: 550px;
  margin: auto; }

main {
  width: 95%;
  max-width: 1024px;
  margin: auto;
  background-color: #82B1FF;
  border: 7px solid #3F729B;
  border-radius: 25px;
  padding: 25px 5px; }
  main div#pokédex {
    background-color: red;
    width: 450px;
    border-radius: 15px;
    border: 2px solid #212121; }
    main div#pokédex div.pokédex-top {
      display: grid;
      grid-template-columns: 5fr 10fr;
      background-color: #00000025;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding: 10px 0;
      border-bottom: 2px solid #212121; }
      main div#pokédex div.pokédex-top div.top-left {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; }
        main div#pokédex div.pokédex-top div.top-left div.lg-circle {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #7DD1F0, #3F729B);
          border: 3px solid #FCFCFF;
          margin: 5px 10px; }
        main div#pokédex div.pokédex-top div.top-left div.sm-circle-1 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #FF4444, #CC0000);
          border: 1.5px solid #FCFCFF;
          margin: 5px 0; }
        main div#pokédex div.pokédex-top div.top-left div.sm-circle-2 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #FFBB33, #FF8800);
          border: 1.5px solid #FCFCFF;
          margin: 5px 5px; }
        main div#pokédex div.pokédex-top div.top-left div.sm-circle-3 {
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-image: linear-gradient(110deg, #00C851, #007E33);
          border: 1.5px solid #FCFCFF;
          margin: 5px 0; }
      main div#pokédex div.pokédex-top div.search-bar {
        align-self: end;
        text-align: center; }
        main div#pokédex div.pokédex-top div.search-bar input {
          font-family: "Play", sans-serif;
          width: 150px;
          height: 25px;
          font-size: 100%;
          border-radius: 20px;
          border: 2px solid #82B1FF;
          padding: 0 10px; }
        main div#pokédex div.pokédex-top div.search-bar button {
          font-family: "Play", sans-serif;
          background-color: #3F729B;
          color: #FCFCFF;
          border: 2px solid #82B1FF;
          height: 29px;
          font-size: 100%;
          border-radius: 20px;
          transition: background-color .3s; }
          main div#pokédex div.pokédex-top div.search-bar button:hover {
            background-color: #82B1FF;
            cursor: pointer; }
    main div#pokédex div.pokédex-screen {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 7fr;
      height: 225px;
      background-color: #FCFCFF;
      border: 5px solid #212121;
      border-radius: 10px;
      margin: 15px; }
      main div#pokédex div.pokédex-screen div.screen-title {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        border-bottom: 2px solid #212121;
        background-color: #2929293a; }
        main div#pokédex div.pokédex-screen div.screen-title div:nth-child(1) {
          padding: 5px; }
        main div#pokédex div.pokédex-screen div.screen-title div:nth-child(2) {
          padding: 5px;
          text-align: center;
          font-weight: bold; }
      main div#pokédex div.pokédex-screen div.screen-showcase {
        text-align: center;
        background-image: url(../images/pokedex-background.gif);
        background-size: cover; }
    main div#pokédex div.pokédex-stats {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 15px; }
      main div#pokédex div.pokédex-stats div.pkmn-height {
        background-color: #FCFCFF;
        border: 1px solid #212121;
        margin: 5px;
        border-radius: 5px; }
        main div#pokédex div.pokédex-stats div.pkmn-height div#pkmn-height {
          padding: 5px; }
      main div#pokédex div.pokédex-stats div.pkmn-weight {
        background-color: #FCFCFF;
        border: 1px solid #212121;
        margin: 5px;
        border-radius: 5px; }
        main div#pokédex div.pokédex-stats div.pkmn-weight div#pkmn-weight {
          padding: 5px; }
      main div#pokédex div.pokédex-stats div.pkmn-type {
        grid-column: 1/3;
        background-color: #FCFCFF;
        border: 1px solid #212121;
        margin: 5px;
        border-radius: 5px; }
        main div#pokédex div.pokédex-stats div.pkmn-type div#pkmn-type {
          padding: 5px; }
      main div#pokédex div.pokédex-stats div.pkmn-stats {
        grid-column: 1/3;
        background-color: #FCFCFF;
        border: 1px solid #212121;
        margin: 5px;
        border-radius: 5px; }
        main div#pokédex div.pokédex-stats div.pkmn-stats div.stats-title {
          padding: 5px;
          border-bottom: 1px solid #212121; }
        main div#pokédex div.pokédex-stats div.pkmn-stats div.stats-data {
          padding: 5px; }

div#nav {
  width: 95%;
  max-width: 1024px;
  margin: 10px auto;
  padding: 25px 5px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  font-family: "Press Start 2P", cursive;
  height: 45px;
  background-color: #FF6369;
  border: 7px solid #DA4348;
  border-radius: 25px; }
  div#nav img {
    width: 50px;
    height: 50px; }
  div#nav div:nth-child(2) {
    padding: 15px 0;
    text-align: center; }
  div#nav div:nth-last-child(1) {
    font-size: 70%;
    padding: 16px 5px 16px 0;
    letter-spacing: 1px;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
