@font-face {
    font-family: "Pokemon GB";
    src: url("fonts/pokemon-gb.ttf");
}

@keyframes catchPokemon{
    from{background: rgb(230, 0, 0)}
    to {background: rgb(255, 255, 255)}
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    50% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(0);
    }
}

.logo {
    float: left;
    max-height: 125px;
    max-width: 150px;
    padding: 10px 185px 0 0px
}
.logoImg {
    max-height: 125px;
    max-width: 150px;
}

.midNav {
    float: left;
    font-family: 'Press Start 2P', cursive;
    padding: 10px 190px 0 0;
    text-shadow: #E63946 1px 0 10px;
}

#rightNav {
    float: right;
    font-size: 50px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    background: #457B9D;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0px 2px 2px #F1FAEE;
}


body {
    width: 100%;
    margin: auto;
    background: #A8DADC;
    padding: 96px 0;
    overflow: hidden;
}

.content {
    padding: 68px 0 150px 0;
}

.pokeContent {
    padding: 0px 0 150px 0;    
}
#pokeInfo1 {
    text-transform: capitalize;
}
#pokeInfo2 {
    text-transform: capitalize;
}
#pokeInfo3 {
    padding: 20px 0 0 20px;
    text-transform: capitalize;
}
.mainCircle {
    width: 275px;
    height: 275px;
    position: relative;
    padding: 20px;
    display: inline-block;
}

.halfCircleTop, .halfCircleBottom, .shadow {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
}

.halfCircleTop {
    background-color: rgb(230, 0, 0);
    border-top-right-radius: 50% 100%;
    border-top-left-radius: 50% 100%;
    border: 20px solid #000;
    border-bottom: 10px solid;
}

.halfCircleBottom {
    background-color: whitesmoke;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    border-bottom-right-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    border: 20px solid #000;
    border-top: 10px solid;
}

.innerCircle {
    border: 15px solid #000;
    width: 20%;
    height: 20%;
    background: whitesmoke;
    position: absolute;
    top: 36%;
    left: 36%;
    border-radius: 60%;
}

.inner-black-circle {
    border: 5px solid #000;
    width: 55%;
    height: 57%;
    background: whitesmoke;
    position: absolute;
    top: 14%;
    left: 14%;
    animation: catchPokemon 1.2s infinite;
    animation-direction: alternate;
    border-radius: 100%;
}

.shadow {
    width: 275px;
    height: 275px;
    position: absolute;
    top: 4px;
    border-radius: 80%;
    box-shadow: 46px 15px 0px rgba(0,0,0,0.2);
    right: 70px;
}

.mainCircle:hover {
    cursor: pointer;
    animation: wiggle 2s;
}

.center {
    float: left;
    width: auto;
    height: 280px;
    margin: 9.15px;
}

main {
    background: #E63946;
    width: 1000px;
    height: 650px;
    padding-top: 100px; 
    padding: 45px 25px 150px;
    margin: 0 auto;
    box-shadow: -4px 0 #457B9D, 0 1px #457B9D, 4px 0 #457B9D, 0 -1px #457B9D;
    font-family: 'Pokemon GB', sans-serif;
    line-height: 1.9;
    letter-spacing: -2px;
    word-spacing: 6px;
    font-weight: lighter;
}

#arcaninePic {
    padding: 75px 90px 50px 50px ;
    float: left;
}
#arcanineGif {
    float: right;
    height: 100px;
    width: 100px;
}

#abraPic {
    padding: 100px 90px 60px 50px ;
    float: left;
}
#abraGif {
    float: right; 
    height: 100px;
    width: 200px;
}

#electabuzzPic {
    padding: 90px 90px 50px 60px ;
    float: left;
}
#electabuzzGif {
    float: right; 
    height: 100px;
    width: 100px;
}

.headline {
    text-align: center
}

a:link, a:visited {
    color: #000;
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: url('../images/pokeball-bullet.jpg');

}

audio { 
    display:none;
    
 }

footer {
    background: #457B9D;
    position: fixed;
    width: 100%;
    height: 115px;
    left: 0;
    bottom: 0;
    padding-top: 45px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    text-shadow: #E63946 1px 0 10px;
    box-shadow: 0 -2px #F1FAEE;
}
