@keyframes rotate {
  0% {
    transform: rotate(360deg); }
  10% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  90% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
body {
  margin: 0;
  font-family: "Play", sans-serif;
  background-color: #FCFCFF;
  color: #212121; }

.container {
  width: 95%;
  max-width: 550px;
  margin: auto; }

div#nav {
  width: 95%;
  max-width: 1024px;
  margin: 10px auto;
  padding: 25px 5px;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  font-family: "Press Start 2P", cursive;
  height: 45px;
  background-color: #FF6369;
  border: 7px solid #DA4348;
  border-radius: 25px;
  box-shadow: 1px 1px 10px #2121217a; }
  div#nav img {
    width: 50px;
    height: 50px; }
  div#nav div:nth-child(2) {
    padding: 15px 0;
    text-align: center;
    color: #FCFCFF;
    text-shadow: -1px -1px 0 #3F729B, 1px -1px 0 #3F729B, -1px 1px 0 #82B1FF, 1px 1px 0 #82B1FF; }
  div#nav div:nth-last-child(1) {
    font-size: 70%;
    padding: 20px 10px 16px 0;
    letter-spacing: 1px;
    text-align: center;
    color: #FCFCFF;
    text-shadow: -1px -1px 0 #82B1FF, 1px -1px 0 #82B1FF, -1px 1px 0 #3F729B, 1px 1px 0 #3F729B; }
    div#nav div:nth-last-child(1) a {
      text-decoration: none;
      color: #FCFCFF; }
      div#nav div:nth-last-child(1) a:hover {
        color: #82B1FF; }

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  max-width: 1024px;
  margin: 10px auto;
  background-color: #82B1FF;
  border: 7px solid #3F729B;
  border-radius: 25px;
  padding: 25px 5px;
  box-shadow: 1px 1px 10px #2121217a; }
  main div#trainer-card {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #FF6369;
    border: 4px solid #DA4348;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #2121217a; }
    main div#trainer-card div.banner {
      background-color: #ba3a3e;
      border-bottom: 2px solid #DA4348;
      padding: 10px;
      font-weight: 900;
      font-size: 120%;
      color: #FCFCFF;
      text-shadow: -1px -1px 0 #3F729B, 1px -1px 0 #3F729B, -1px 1px 0 #82B1FF, 1px 1px 0 #82B1FF; }
    main div#trainer-card div.card-main {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; }
      main div#trainer-card div.card-main div.card-left {
        margin: 10px; }
        main div#trainer-card div.card-main div.card-left img {
          height: 250px;
          width: 150px;
          padding: 10px 10px 10px 0;
          border: 2px solid #DA4348;
          border-radius: 2px;
          background-color: rgba(250, 250, 255, 0.25); }
      main div#trainer-card div.card-main div.card-mid {
        margin: 10px 5px;
        display: grid;
        grid-template-columns: 1fr; }
        main div#trainer-card div.card-main div.card-mid div.trainer-info {
          background-color: #ba3a3e;
          border: 2px solid #DA4348;
          height: 25px;
          border-radius: 2px;
          padding: 10px 5px 0;
          font-size: 70%;
          color: #FCFCFF;
          letter-spacing: 1px; }
      main div#trainer-card div.card-main div.card-right {
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr 1fr;
        margin: 12px; }
        main div#trainer-card div.card-main div.card-right div:nth-child(1) {
          grid-column: 1/3;
          height: 0px;
          align-self: end;
          margin: 0 0 20px;
          font-weight: 900;
          background-color: transparent;
          letter-spacing: 2px;
          border-color: transparent;
          color: #FCFCFF;
          text-shadow: -1px -1px 0 #3F729B, 1px -1px 0 #3F729B, -1px 1px 0 #82B1FF, 1px 1px 0 #82B1FF; }
        main div#trainer-card div.card-main div.card-right div {
          background-color: rgba(250, 250, 255, 0.25);
          border-radius: 2px;
          border: 2px solid #DA4348; }
          main div#trainer-card div.card-main div.card-right div img {
            margin: 3px auto 2px 3px;
            width: 90%;
            height: 90%; }
  main h1 {
    grid-column: 1/4;
    margin: 50px 0;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    color: #FCFCFF;
    text-shadow: -2px -2px 0 #FF6369, 2px -2px 0 #FF6369, -2px 2px 0 #DA4348, 2px 2px 0 #DA4348; }
  main div.card-container {
    display: grid;
    grid-template: 1fr;
    position: relative;
    width: 100%;
    height: 330px;
    border-radius: 5px;
    perspective: 500px; }
    main div.card-container div.card {
      justify-self: center;
      width: 90%;
      height: 80%;
      transform-style: preserve-3d;
      transition: all 1s ease;
      cursor: pointer; }
      main div.card-container div.card.flip {
        transform: rotateY(180deg); }
      main div.card-container div.card div.card-front {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: #ffc728;
        color: #333;
        border-radius: 5px;
        background-image: url(../images/card-back.png);
        background-size: cover;
        border: 5px solid #141480;
        box-shadow: 1px 1px 15px #2121217a; }
      main div.card-container div.card div.card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        background-color: #fafafa;
        color: #333;
        transform: rotateY(180deg);
        border-radius: 5px;
        border: 3px solid green;
        box-shadow: 1px 1px 15px #2121217a; }
      main div.card-container div.card div.arcanine {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #c1724d, #c5531e, #d4361a, #D31A38); }
        main div.card-container div.card div.arcanine div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.arcanine div.card-top div.card-name {
            background-color: #dd9371;
            border-bottom: 2px solid #6f0e1e;
            border-right: 2px solid #6f0e1e;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.arcanine div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.arcanine div.card-top div.card-hp {
            padding: 5px 1px; }
            main div.card-container div.card div.arcanine div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.arcanine div.card-img {
          display: grid; }
          main div.card-container div.card div.arcanine div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.arcanine div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.arcanine div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #dd9371;
            border-bottom: 1px solid #6f0e1e;
            border-top: 1px solid #6f0e1e;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.arcanine div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.arcanine div.card-desc {
          font-size: 20%;
          padding: 5px; }
        main div.card-container div.card div.arcanine div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          main div.card-container div.card div.arcanine div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.arcanine div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.arcanine div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.arcanine div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.arcanine div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.arcanine div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.arcanine div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #6f0e1e;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.arcanine div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.arcanine div.card-btm div.card-def {
            font-size: 40%;
            background-color: #6f0e1e;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.arcanine div.card-btm div.card-def span {
              color: #FFBB33; }
      main div.card-container div.card div.alakazam {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #e39ff6, #b660cd, #a45ee5, #710193); }
        main div.card-container div.card div.alakazam div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.alakazam div.card-top div.card-name {
            background-color: #e39ff6;
            border-bottom: 2px solid #710193;
            border-right: 2px solid #710193;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.alakazam div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.alakazam div.card-top div.card-hp {
            padding: 5px 1px; }
            main div.card-container div.card div.alakazam div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.alakazam div.card-img {
          display: grid; }
          main div.card-container div.card div.alakazam div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.alakazam div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.alakazam div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #e39ff6;
            border-bottom: 1px solid #710193;
            border-top: 1px solid #710193;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.alakazam div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.alakazam div.card-desc {
          font-size: 20%;
          padding: 5px; }
        main div.card-container div.card div.alakazam div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          main div.card-container div.card div.alakazam div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.alakazam div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.alakazam div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.alakazam div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.alakazam div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.alakazam div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.alakazam div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #710193;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.alakazam div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.alakazam div.card-btm div.card-def {
            font-size: 40%;
            background-color: #710193;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.alakazam div.card-btm div.card-def span {
              color: #FFBB33; }
      main div.card-container div.card div.snorlax {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #c6c6d0, #9897a9, #4c516d, #1d2951); }
        main div.card-container div.card div.snorlax div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.snorlax div.card-top div.card-name {
            background-color: #FCFCFF;
            border-bottom: 2px solid #403f4d;
            border-right: 2px solid #403f4d;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.snorlax div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.snorlax div.card-top div.card-hp {
            padding: 5px 1px;
            color: white; }
            main div.card-container div.card div.snorlax div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.snorlax div.card-img {
          display: grid; }
          main div.card-container div.card div.snorlax div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.snorlax div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.snorlax div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #FCFCFF;
            border-bottom: 1px solid #403f4d;
            border-top: 1px solid #403f4d;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.snorlax div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.snorlax div.card-desc {
          font-size: 20%;
          padding: 5px;
          color: white; }
        main div.card-container div.card div.snorlax div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr;
          color: white; }
          main div.card-container div.card div.snorlax div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.snorlax div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.snorlax div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.snorlax div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.snorlax div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.snorlax div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.snorlax div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #403f4d;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.snorlax div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.snorlax div.card-btm div.card-def {
            font-size: 40%;
            background-color: #403f4d;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.snorlax div.card-btm div.card-def span {
              color: #FFBB33; }
      main div.card-container div.card div.zapdos {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #fcf4a3, #fedc56, #fce205, #ffd300); }
        main div.card-container div.card div.zapdos div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.zapdos div.card-top div.card-name {
            background-color: #fcf4a3;
            border-bottom: 2px solid #ffd300;
            border-right: 2px solid #ffd300;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.zapdos div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.zapdos div.card-top div.card-hp {
            padding: 5px 1px; }
            main div.card-container div.card div.zapdos div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.zapdos div.card-img {
          display: grid; }
          main div.card-container div.card div.zapdos div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.zapdos div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.zapdos div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #fcf4a3;
            border-bottom: 1px solid #ffd300;
            border-top: 1px solid #ffd300;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.zapdos div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.zapdos div.card-desc {
          font-size: 20%;
          padding: 5px; }
        main div.card-container div.card div.zapdos div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          main div.card-container div.card div.zapdos div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.zapdos div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.zapdos div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.zapdos div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.zapdos div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.zapdos div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.zapdos div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #9c7201;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.zapdos div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.zapdos div.card-btm div.card-def {
            font-size: 40%;
            background-color: #9c7201;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.zapdos div.card-btm div.card-def span {
              color: #FFBB33; }
      main div.card-container div.card div.dragonite {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #FCFCFF, #c6c6d0, #adadc7, #9897a9); }
        main div.card-container div.card div.dragonite div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.dragonite div.card-top div.card-name {
            background-color: #FCFCFF;
            border-bottom: 2px solid #403f4d;
            border-right: 2px solid #403f4d;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.dragonite div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.dragonite div.card-top div.card-hp {
            padding: 5px 1px; }
            main div.card-container div.card div.dragonite div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.dragonite div.card-img {
          display: grid; }
          main div.card-container div.card div.dragonite div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.dragonite div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.dragonite div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #FCFCFF;
            border-bottom: 1px solid #403f4d;
            border-top: 1px solid #403f4d;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.dragonite div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.dragonite div.card-desc {
          font-size: 20%;
          padding: 5px; }
        main div.card-container div.card div.dragonite div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          main div.card-container div.card div.dragonite div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.dragonite div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.dragonite div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.dragonite div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.dragonite div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.dragonite div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.dragonite div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #403f4d;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.dragonite div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.dragonite div.card-btm div.card-def {
            font-size: 40%;
            background-color: #403f4d;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.dragonite div.card-btm div.card-def span {
              color: #FFBB33; }
      main div.card-container div.card div.venusaur {
        display: grid;
        grid-template-columns: 1fr;
        border: 5px solid gold;
        background-image: radial-gradient(circle, #b2d3c2, #98fb98, #50c878, #2e8b57); }
        main div.card-container div.card div.venusaur div.card-top {
          display: grid;
          height: 15px;
          grid-template-columns: 4.5fr 1.5fr; }
          main div.card-container div.card div.venusaur div.card-top div.card-name {
            background-color: #b2d3c2;
            border-bottom: 2px solid #043927;
            border-right: 2px solid #043927;
            border-bottom-right-radius: 100px;
            padding: 5px 10px; }
            main div.card-container div.card div.venusaur div.card-top div.card-name small {
              font-size: 30%;
              font-weight: 900;
              padding-left: 15px; }
          main div.card-container div.card div.venusaur div.card-top div.card-hp {
            padding: 5px 1px; }
            main div.card-container div.card div.venusaur div.card-top div.card-hp small {
              font-size: 30%;
              font-weight: 900; }
        main div.card-container div.card div.venusaur div.card-img {
          display: grid; }
          main div.card-container div.card div.venusaur div.card-img img {
            justify-self: center;
            width: 90%;
            height: 100px;
            margin: 17px 0 2px;
            border: 3px solid silver;
            border-radius: 5px;
            box-shadow: 1px 1px 10px #2121217a; }
        main div.card-container div.card div.venusaur div.card-data {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          font-size: 60%;
          margin: 0;
          padding: 0; }
          main div.card-container div.card div.venusaur div.card-data div {
            padding: 2px 0 0;
            margin-top: 3px;
            justify-self: center;
            text-align: center;
            border: 1px solid white;
            background-color: #b2d3c2;
            border-bottom: 1px solid #043927;
            border-top: 1px solid #043927;
            height: 15px;
            width: 90%;
            border-radius: 5px; }
            main div.card-container div.card div.venusaur div.card-data div small {
              font-size: 10%;
              font-weight: 900; }
        main div.card-container div.card div.venusaur div.card-desc {
          font-size: 20%;
          padding: 5px; }
        main div.card-container div.card div.venusaur div.card-abl {
          display: grid;
          grid-template-columns: 1fr 1fr; }
          main div.card-container div.card div.venusaur div.card-abl div.title {
            grid-column: 1/3;
            padding: 0 5px;
            font-size: 40%;
            font-weight: 900;
            text-align: center; }
            main div.card-container div.card div.venusaur div.card-abl div.title hr {
              border: 0;
              height: 1px;
              background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); }
          main div.card-container div.card div.venusaur div.card-abl div.abl-1 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
          main div.card-container div.card div.venusaur div.card-abl div.abl-2 ul {
            margin: 0;
            font-size: 20%;
            list-style: circle; }
        main div.card-container div.card div.venusaur div.card-btm {
          display: grid;
          grid-template-columns: 1fr 2fr 1fr 1fr; }
          main div.card-container div.card div.venusaur div.card-btm div.pkmn-type img {
            width: 20px;
            height: 20px;
            padding: 5px 0 0 10px; }
          main div.card-container div.card div.venusaur div.card-btm div.card-atk {
            font-size: 40%;
            background-color: #043927;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.venusaur div.card-btm div.card-atk span {
              color: #FFBB33; }
          main div.card-container div.card div.venusaur div.card-btm div.card-def {
            font-size: 40%;
            background-color: #043927;
            color: #FCFCFF;
            margin: 5px 0 0;
            border-top: 1px solid #FCFCFF;
            border-left: 1px solid #FCFCFF;
            padding: 4px 0 0 2px; }
            main div.card-container div.card div.venusaur div.card-btm div.card-def span {
              color: #FFBB33; }

@media only screen and (max-width: 1440px) {
  main div.card-container {
    height: 550px; }
    main div.card-container div.card div.arcanine div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.arcanine div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.arcanine div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.arcanine div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.arcanine div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.arcanine div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.arcanine div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.arcanine div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.arcanine div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.arcanine div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.arcanine div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.arcanine div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.alakazam div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.alakazam div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.alakazam div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.alakazam div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.alakazam div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.alakazam div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.alakazam div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.alakazam div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.alakazam div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.alakazam div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.alakazam div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.alakazam div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.snorlax div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.snorlax div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.snorlax div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.snorlax div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.snorlax div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.snorlax div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.snorlax div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.snorlax div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.snorlax div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.snorlax div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.snorlax div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.snorlax div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.zapdos div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.zapdos div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.zapdos div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.zapdos div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.zapdos div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.zapdos div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.zapdos div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.zapdos div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.zapdos div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.zapdos div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.zapdos div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.zapdos div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.dragonite div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.dragonite div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.dragonite div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.dragonite div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.dragonite div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.dragonite div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.dragonite div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.dragonite div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.dragonite div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.dragonite div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.dragonite div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.dragonite div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.venusaur div.card-top div.card-name {
      padding: 10px 10px; }
    main div.card-container div.card div.venusaur div.card-top div.card-hp {
      padding: 10px 5px; }
    main div.card-container div.card div.venusaur div.card-img img {
      height: 150px;
      margin: 25px 0 2px;
      border: 5px solid silver; }
    main div.card-container div.card div.venusaur div.card-data {
      font-size: 100%; }
      main div.card-container div.card div.venusaur div.card-data div {
        padding: 5px 0; }
    main div.card-container div.card div.venusaur div.card-desc {
      font-size: 80%; }
    main div.card-container div.card div.venusaur div.card-abl div.title {
      font-size: 100%; }
    main div.card-container div.card div.venusaur div.card-abl div.abl-1 ul {
      font-size: 80%; }
    main div.card-container div.card div.venusaur div.card-abl div.abl-2 ul {
      font-size: 80%; }
    main div.card-container div.card div.venusaur div.card-btm div.pkmn-type img {
      width: 30px;
      height: 30px; }
    main div.card-container div.card div.venusaur div.card-btm div.card-atk {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; }
    main div.card-container div.card div.venusaur div.card-btm div.card-def {
      align-self: end;
      font-size: 70%;
      padding: 10px 0 10px 5px; } }

/*# sourceMappingURL=personal.css.map */
