.logo {
    float: left;
    max-height: 125px;
    max-width: 150px;
}
.logoImg {
    max-height: 125px;
    max-width: 150px;
}

nav {
    float: right;
}

.midNav {
    float: left;
    font-family: 'Press Start 2P', cursive;
    padding-top: 20px;
    text-shadow: #E63946 1px 0 10px;
}

#rightNav {
    float: right;
    font-size: 50px;
    padding-top: 32px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

header {
    background: #457B9D;
    width: 100%;
    top: 0;
    position: fixed;
    box-shadow: 0px 2px 2px #F1FAEE;
}


body {
    width: 100%;
    margin: auto;
    background: #A8DADC;
}

main {
    background: #E63946;
    width: 960px;
    height: 100%;
    padding-top: 150px;
    padding: 150px 25px 0;
    margin: 0 auto;
    box-shadow: -4px 0 #457B9D, 0 1px #457B9D, 4px 0 #457B9D, 0 -1px #457B9D;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

footer {
    background: #457B9D;
    width: 100%;
    height: 150px;
    top: 0;
    padding-top: 50px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    text-shadow: #E63946 1px 0 10px;
    box-shadow: 0 -2px #F1FAEE;
}
